
<section class="d-flex justify-content-center top-50" >
  <div class="card col-10 col-md-6 p-2">
    <%= image_tag "login.jpeg", alt: "Login Image", class: "img-card-top object-fit-contain", style:"max-height:200px;" %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="px-5 py-2">
        <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email", placeholder:"Email" %>
      </div>

      <div class="px-5 py-2">
        <%= f.password_field :password, class:"form-control", autocomplete: "current-password", placeholder:"Password" %>
      </div>

      <div class="px-5 py-3 d-flex justify-content-center">
        <%= f.submit "Sign in", class:"btn btn-primary" %>
      </div>
    <% end %>

  </div>
</section>


