<%if user_signed_in? %>
<aside class="pt-3">
    <div class="container-fluid">
        <div class="card border-0 mx-auto my-2">
            <%= image_tag current_user&.profile_picture, class:"card-img-top img-thumbnail mx-auto",style:"width:100%;max-width:20vw;", alt:"No img available" if current_user.profile_picture.present? %>
            <div class="card-body">
                <span class="d-flex fs-6 text-center card-title"> <%=current_user&.email%></span>    
                <p class="card-text">
                    <%= link_to "My profile", current_user.admin == true ? admin_user_path(current_user) : user_path(current_user),class:"btn btn-outline-primary" %>
                <%unless current_user&.admin?%>
                <p class="card-text">
                    <% if current_user&.applications.present? %>
                        My applies:<%= current_user&.applications.count %>    
                        <ul class="list-group list-group-flush">
                            <%= link_to "My applies", user_applications_path(current_user), class:"btn btn-outline-primary"%>
                        </ul>    
                    <%else%>
                        No applies
                    <%end%>
                </p>
                <%end%>
            </div>
        </div>
    </div> 
    <!-- END PROFILE CONTAINER-->
    
    
</aside>
<%else%>
<aside class="d-none w-0">
</aside>
<%end%>
