
<nav class="navbar navbar-expand-md navbar-light px-2">
    <!-- Brand -->
            <%= link_to "Internal platform", root_path, class:"navbar-brand" %>
            <button class="navbar-toggler d-lg-none ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <!---->
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav w-100">
            <!-- admin menu -->
                <% if current_user&.admin? %>
                <li class="nav-item">
                    <%= link_to "Dashboard",  admin_dashboard_path, class:"btn btn-success p-1"%>
                </li>
                <%end%>
            <!-- end admin menu -->
                <li class="nav-item">
                    <%= link_to "See the offers",  joboffers_path, class:"nav-link"%>
                </li>

                <li class="d-md-none nav-item dropdown mb-2">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true"aria-expanded="false">
                        <strong>@<%= current_user&.name || current_user&.email %></strong>
                    </a>
                    <div class="dropdown-menu mx-0 p-0" aria-labelledby="dropdownId">
                        <%= link_to "My profile", current_user.admin == true ? admin_user_path(current_user) : user_path(current_user),class:"dropdown-item" %>
                        
                        <%= link_to "My applies", user_applications_path(current_user), class:"dropdown-item" unless current_user.admin == true %>

                    </div>
                </li>
                
                <div class="dropdown-divider"></div>
                
                <li class="nav-item me-auto">
                    <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class:"btn btn-primary" %>
                </li>

            </ul>
        
        </div>    

</nav>
