
<%= render "shared/h1_title", title:@joboffer.title%>

<section class="d-block">
  <div class="col-10 mx-auto">
    <%= render @joboffer %>
  </div>
  <div class="d-flex justify-content-center">
    <% if user_signed_in? && current_user&.admin? %>
      <%= link_to 'Admin Job offer', admin_joboffer_path(@joboffer), class: 'btn btn-primary my-3' %>              
    <% end %>    
  </div>
</section>

<section class="d-block">
  <div class="col-10 mx-auto">
    <div class="card border-0">
      <div class="card-body text-center p-3">
        <% if current_user&.admin? %>
          <% if @applications&.exists? %>
            <h3 class="display-4 text-center">Actual applies<h3>
              <% @applications.each do |application| %>
            <!-- CARD APPLIES -->
                <%= link_to admin_user_path(application.user), class:"text-decoration-none" do%>
                  <div class="card my-3 border-0 border-bottom p-1">
                    <div class="row g-0">
                      <div class="col-md-6">
                        <%= image_tag application.user.profile_picture, class:"img-fluid rounded-start me-0",style:"max-width:150px;" if application.user.profile_picture.present? %>
                      </div>
                      <div class="col-md-6">
                        <div class="card-body ms-0">
                          <p class="card-text fs-6">
                            <%= application.user.name %> | <%= application.user.email %>
                          </p>
                          <p class="card-text">
                            <small class="text-muted">
                              <%= time_ago_in_words(application.created_at) %> ago
                            </small>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                <%end%>
              <!-- END CARD APPLIES -->
              <%end%>
          <% else %>
                <h3 class="display-4 text-center">No applies yet<h3>
          <% end %>
        <% else %>
          <% if Application.exists?(user_id: current_user.id, joboffer_id: @joboffer.id) %>
            <p>You already applies this job offer, thanks.</p>
           <% else %>
            <%= button_to 'Apply this job offer', joboffer_applications_path(@joboffer), method: :post, class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      </div>  
    </div>
  </div>
</section>
