<h1 class="display-3 text-center">All Users registered</h1>

<section class="container-fluid mb-3">
    <%= link_to "New User", new_admin_user_path, class: "btn btn-primary" %>
</section>

<section class="container-fluid mb-3">
    <div class="table-responsive-md">
        <table class="table table-success">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Permissions</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user|%>
                <tr class="">
                    <td scope="row">
                        <%= user&.id %>
                    </td>
                    <td>
                        <%= user&.name %>
                    </td>
                    <td>
                        <%= user&.email %>
                    </td>
                    <td>
                        <%= user&.admin %>
                    </td>
                    <td colspan="2">
                        <%= link_to "Edit", edit_admin_user_path(user), class:"btn btn-warning" %>
                    </td>
                </tr>
                <%end%>
            </tbody>
        </table>
    </div>



</section>